.movie_card {
    max-width: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.movie_img {
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 15%;
    transform-origin: bottom center;
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
    -webkit-box-shadow: 12px 14px 8px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 12px 14px 8px -3px rgba(34, 60, 80, 0.2);
    box-shadow: 12px 14px 8px -3px rgba(34, 60, 80, 0.2);
}

.wrap_card_name {
    max-width: 90%;
}

.movie_card_name {
    color: var(--color1);
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-align: center;
    max-width: 100%;
    text-overflow: ellipsis;
}
.wrap_card_movie{
    padding: 5%;
}

@media (max-width: 1024px) {
    .movie_card_name {
        font-size: 10px;
    }
}
@media (hover: none) and (pointer: coarse) {
    .movie_img:active{
        transition: all 0.1s;
        transform: scale(0.95);
    }
}
@media (hover: hover) and (pointer: fine){
    .movie_img:hover {
        transform: scale(1.05);
        filter: brightness(70%);
    }

}
