.movie_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 350px;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.wrap_img{
    width: 100%;
    height: 80%;
}
.movie_img {
    height: 100%;
    display: block;
    width: 100%;
    transition: all 0.3s;
    border-radius: 15%;
    transform-origin: bottom center;
    object-fit: cover;
}
.wrap_card_name {
    max-width: 90%;
    height: 10%;
}

.movie_card_name {
    padding-left: 10%;
    color: var(--color1);
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-align: start;
    width: 100%;
    text-overflow: ellipsis;
}

.wrap_card_movie {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5%;
}

@media (max-width: 1024px) {
    .movie_card_name {
        font-size: 10px;
    }
}

@media (hover: none) and (pointer: coarse) {
    .movie_img:active {
        transition: all 0.1s;
        transform: scale(0.95);
    }
}

@media (hover: hover) and (pointer: fine) {
    .movie_img:hover {
        transform: scale(1.05);
        filter: brightness(70%);
    }

}
