.warp_list_movie{
    position: relative;
    width: 60%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name_movie_list{
    padding-left: 2%;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}
@media (max-width: 1024px) {
    .warp_list_movie {
        width: 100%;
        position: relative;
        padding: 10px 0 25px 0;
    }
}