.scroll_desktop {
    max-width: 100%;
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.warp_list_movie {
    text-align: center;
    position: relative;
    width: 100%;
}

.warp_list_movie:hover > .visible_button {
    opacity: 1;
}

.name_list {
    color: var(--color1);
    text-align: center;
}
.scroll_item{
    transition: 0.3s all;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.mobile {
    padding: 2% 0 0 0;
    max-width: 100%;
    display: flex;
    gap: 10px;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.visible_button {
    opacity: 0;
}

.movie_mobile::-webkit-scrollbar {
    display: none;
}