.wrapper_img{
    position: relative;
    display: flex;
    justify-content: center;
    filter: brightness(85%);
    height: 30vh;
}
.wrap_card_info_relative{
    height: 100%;
    width: 60%;
    position: absolute;
    z-index: 6;
    left: 0;
    background: var(--gradient_back);
    opacity: 0.96;
}
.wrap_card_info_relative_right{
    height: 100%;
    width: 30%;
    position: absolute;
    z-index: 6;
    background: var(--gradient_back);
    transform: scaleX(-1);
    opacity: 0.96;
    right: 0;
}