.wrapper_img{
    position: relative;
    display: flex;
    justify-content: center;
    filter: brightness(85%);
    height: 70vh;
}
.img_movie{
    object-fit: cover;
    object-position: top;
    filter: brightness(40%);
    width: 100%;
    height: 100%;
}
.wrap_card_info_relative{
    height: 100%;
    width: 80%;
    position: absolute;
    z-index: 6;
    left: 0;
    background: var(--gradient_back);
    opacity: 0.96;
}
.wrap_card_info_relative_right{
    height: 100%;
    width: 30%;
    position: absolute;
    z-index: 6;
    background: var(--gradient_back);
    transform: scaleX(-1);
    opacity: 0.96;
    right: 0;
}
.box_card{
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
    width: 60%;
    height: 100%;
}
.card{
    opacity: 1 !important;
    background-color: var(--bacground_fon) !important;
    border-radius: 15px;
}